/*Universal styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas neue', Abel, Helvetica, Arial;
  background: linear-gradient(to right,#191b57 ,#525487, #282b8a, #525487, #191b57 );
  color: #222;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: var(--letter-spacing-wide);
  word-spacing: var(--word-spacing-wide);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: url(https://assets.codepen.io/210284/arrow_32a.svg), default;
}

h1, h2 {
  font-family: 'Josefin Sans';
}

li {
  list-style: none;
}

:root {
  --font-xs: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xl: 24px;
  --font-xxl: 28px;
  --font-xxxl: 34px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --gray-text: #777;
  --hover-color: #2f516a;
  --radius: 5px;
  --line-height-tight: 1.2;
  --line-height-wide: 1.6;
  --word-spacing-wide: 0.2em;
  --word-spacing-extra-wide: 0.4em;
  --letter-spacing-wide: 0.1em;
  --letter-spacing-extra-wide: 0.2em;
}

main {
  background: linear-gradient(to bottom, #ffffffd7, #d7d7d7cc);
  border-radius: var(--radius);
  width: 75%;
  margin: var(--spacing-lg);
}

#Datum {
  padding: var(--spacing-md);
  font-size: var(--font-xs);
}



/*Background text*/
.background-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  font-family: 'Tac One';
}
.background-text1 {
  font-size: 350px;
  width: 40%;
  position: absolute;
  z-index: -1;
  top: -80px;
  rotate: 25deg;
  color: #eee;
  opacity: 0.1;
}

.background-text2 {
  font-size: 380px;
  width: 90%;
  position: absolute;
  z-index: -1;
  top: 200px;
  color: #eee;
  opacity: 0.1;
  rotate: -25deg;
}

.background-text3 {
  font-size: 380px;
  width: 90%;
  position: absolute;
  z-index: -1;
  bottom: 400px;
  color: #eee;
  opacity: 0.1;
  rotate: -25deg;
}



/*Banner*/
.banner {
  background-color: black;
  color: white;
  height: 5%;

}

.banner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-medium);
  margin: auto 0;
  height: 100%;
}

.skill-container {
  width: 700px;
  height: 20px;
  overflow: hidden;
  position: relative;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skills {
  padding: var(--spacing-xs);
  white-space: nowrap;
  position: absolute;
  animation: moveText 17s linear infinite;
  list-style: circle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Abel;
  font-size: var(--font-xs);
}

.skill-container span  {
  height: 7px;
  width: 7px;
  background-color: #525487;
  border-radius: 50%;
  margin: 0 10px 0 30px ;
}





/*section sytling*/
.main-content {
  padding: var(--spacing-lg);
}



/*Header*/
.header-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.header-content ul {
  margin-top: var(--spacing-lg);
}

.header-content ul li {
  margin: var(--spacing-xs);
  font-weight: 400;
}

.header-content ul a {
  color: black;
  font-family: 'Josefin Sans';
  font-size: var(--font-medium); 
}

.header-content ul a svg,
.header-content-info ul a svg {
  margin-right: var(--spacing-sm);
  position: relative;
  top: 5px;
}

.header-content ul a:hover {
  color: #191b57;
}

#Currently-open {
  color: #525487;
}

.homepage-about-us {
  width: 50%;
  text-align: center;
  float: right;
}

.homepage-about-us h1 {
  font-size: var(--font-large);
  margin: 40px 0 10px 0;
}

.homepage-about-us p {
  font-weight: lighter;
  font-family: Abel;
  font-size: var(--font-small);
  color: #000000a0;
}



/*Logo*/
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 10vw;
  font-family: 'Tac One';
}

.logo-color {
  color: #525487;
}



/*Footer*/

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px 0 20px 0px;
  font-family: Abel;
}

.verfuegbar-container,
.schnellkontakt-content {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 1.25px solid black;
}

.schnellkontakt-content {
  border: none;
}

.verfuegbar-container {
  background-color: #eee;
}

.verfuegbar-container h2,
.schnellkontakt-content h2 {
  font-size: var(--font-medium);
  background-color: #222;
  font-family: Abel;
  font-weight: bolder;
  color: white;
  text-align: center;
  width: 100%;
  padding: var(--spacing-xs);
}


.schnellkontakt-container form label {
  font-size: var(--font-xs);
}

.schnellkontakt-container form input {
  border: 1px solid white;
  background-color: #eee;

}

.schnellkontakt-container input[type="submit"] {
  background-color: #525487;
  color: white;
  padding: 3px 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-xs);
}

.schnellkontakt-container input[type="submit"]:hover {
  background-color: #282b8a;
}

.calender-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender-container table {
  border-collapse: collapse;
  margin: 7px 0;
  background-color: #80808046;
}
.calender-container th, .calender-container td {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  font-size: var(--font-xs);
}

/*Extra pages*/

/*Work*/

.main-secondary {
  width: 100%;
}

.main-secondary .header-content {
  display: flex;
  flex-direction: column;
}

/*slideshow*/

.slideshow-nav {
  display: flex;
  justify-content: center;
  width: 8%;
  margin: 0px auto;
  margin-top: 40px;
}
.prev, .next {
  z-index: 999;
  padding: var(--spacing-xs);
  color: black;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 20px 0 0 20px;
  user-select: none;
  margin: 0 20px;
}

.next {
  border-radius: 0 20px 20px 0;
}

.prev:hover, .next:hover {
  opacity: 1;
  font-weight: lighter;
}

.project-showcase h2 {
  font-size: 40px;
  margin: var(--spacing-lg);
}

.project-showcase-content a {
  color: #525487;
  font-size: var(--font-medium);
}

.project-showcase a:hover {
  color: #282b8a;
}

.project-showcase-content { 
  width: 100%;
  text-align: center;
}

.project-showcase-content img {
  width: 100%;
  min-height: 400px;
}


/*Info pages (About us & contact)*/

.header-content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content-info ul {
  margin-top: var(--spacing-lg);
}

.header-content-info ul li {
  margin: var(--spacing-xs);
  font-family: 'Josefin Sans';
}

.header-content-info ul a {
  color: black;
  font-size: var(--font-medium);
}

.header-content-info ul a:hover {
  color: var(--hover-color);
}
 
.logo-info {
  font-size: 60px;
  margin-top: var(--spacing-lg);
}

.main-content-info {
  padding: var(--spacing-lg);
  display: flex;
  justify-content: space-evenly;
}

.geschichte-content h1 {
  font-size: var(--font-xxxl);
  margin: 20px 0;
}

.geschichte-content { 
  border-radius: var(--radius);
  padding: var(--spacing-md);
}

.unsere-geschichte {
  width: 100%;
  padding: var(--spacing-lg);
  text-align: center;
  
}

.unsere-geschichte p {
  font-family: Abel;
  color: #000000a0;
}

.unsere-werte {
  margin-top: 80px;
}

.unsere-werte-container h2 {
  font-size: var(--font-xxxl);
}

.unsere-werte-container ul {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.unsere-werte-container ul li {
  border: 1.2px solid black;
  font-weight: lighter;
  border-radius: var(--radius);
  background-color: #eee;
  width: 40%;
  padding: var(--spacing-sm);
  margin: var(--spacing-sm);
}




/*contact*/

.contact-us-content {
  margin: 40px auto;
  width: 70%;
}

.contact-us-content h1 {
  font-size: var(--font-xxxl);
  text-align: center;
}
.contact-us-content label {
font-family: Abel;
}

.contact-us-content input[type="text"],
.contact-us-content input[type="email"],
.contact-us-content textarea {
  width: 100%;
  padding: 7px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  background: #eeeeeeba;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.contact-us-content textarea {
  height: 100px;
}

.contact-us-content input[type="submit"] {
  background-color: #525487;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-small);
}

.contact-us-content input[type="submit"]:hover {
  background-color: var(--hover-color);
}

.contact-us-content form  {
  margin-top: 30px;
}


/*Faq*/

.faq-section h2 {
  font-size: var(--font-xxxl);
  margin: var(--spacing-lg);
}


.faq-section {
  margin-top: 80px;
}

.question-container {
  width: 100%;
}

.question {
  border: 1.3px solid black;
  width: 100%;
  margin: 30px 0;
}

.question details summary {
  font-size: var(--font-medium);
  padding: var(--spacing-sm);
}

.question details p  {
  font-size: var(--font-medium);
  text-align: center;
  margin: 1.5rem;
}

.question details > summary {
  list-style-type: none;
}

.question details > summary::-webkit-details-marker {
  display: none;
}

.question details > summary::before {
  content: '✚';
}

.question details[open] > summary::before {
  content: '−';
}




/*Media Querys*/
@media screen and (max-width: 800px) {

  body {
    height: 100%;
  }

  main {
    margin: var(--spacing-lg) 0;
    height: 95%;
    width: 85%;
  }

  .main-content {
    padding: var(--spacing-xs);
  }


  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-content ul li a,
  .header-content-info ul li a {
    font-size: var(--font-xs);
  }
  
  .project-showcase-content img {
    width: 100%;
    min-height: 210px;
  }

  .logo {
    font-size: 10vw;
    width: 100%;
  }

  .verfuegbar-container {
    text-align: center;
    margin: 20px auto;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }


  .footer-content {
    width: 100%;
  }

  .skill-container {
    height: 30px;
    width: 50%;
    margin: 0 auto;
  }

  .unsere-werte-container ul li {
    width: 100%;
  }

  .question details summary {
    font-size: var(--font-medium);
  }

  .verfuegbar-container h2,
  .schnellkontakt-content h2 {
    font-size: var(--font-medium);
  }

  .slideshow-nav {
    border: none;
  }
}



/*Keyframes*/
@keyframes wavyText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-900px);
  }

}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fade { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typingSmall {
  0% { 
    width: 0% 
} 

100% { 
    width: 100% 
} 
}

@keyframes typing { 
  0% { 
      width: 0% 
  } 


  100% { 
      width: 100%;
      text-align: center;
  } 
} 

@keyframes blink { 

  0%, 
  100% { 
      border-right: 2px solid transparent; 
  } 

  50% { 
      border-right: 2px solid #222; 
  } 
} 



/*Utility classes*/
.wavy {
  animation: wavyText 35s ease-in-out infinite;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

.typing {
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation: typing 2.5s steps(22, end) forwards, blink 1s 2;
}

.typingSmall {
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation: typingSmall 1.5s steps(22, end) forwards, blink 1s 2;
}

