/*Universal styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas neue', Abel, Helvetica, Arial;
  background: linear-gradient(to right, #09203F  ,#2f516a, #09203F);
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: var(--letter-spacing-wide);
  word-spacing: var(--word-spacing-wide);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: url(https://assets.codepen.io/210284/arrow_32a.svg), default;
}

li {
  list-style: none;
}

:root {
  --font-xs: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xl: 24px;
  --font-xxl: 28px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --gray-text: #777;
  --hover-color: #2f516a;
  --radius: 5px;
  --line-height-tight: 1.2;
  --line-height-wide: 1.6;
  --word-spacing-wide: 0.2em;
  --word-spacing-extra-wide: 0.4em;
  --letter-spacing-wide: 0.1em;
  --letter-spacing-extra-wide: 0.2em;
}

main {
  background-color: #eee;
  border-radius: var(--radius);
  width: 90%;
  height: 95%;
  margin: var(--spacing-lg);
}



/*Background text*/
.background-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.background-text1 {
  font-size: 350px;
  width: 40%;
  position: absolute;
  z-index: -1;
  top: -80px;
  rotate: 5deg;
  color: #eee;
  opacity: 0.1;
}

.background-text2 {
  font-size: 350px;
  width: 80%;
  position: absolute;
  z-index: -1;
  bottom: -100px;
  color: #eee;
  opacity: 0.1;
  rotate: 5deg;
}



/*Banner*/
.banner {
  background-color: black;
  color: white;
  height: 5%;
}

.banner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-medium);
  margin: auto 0;
  height: 100%;
}



/*section sytling*/
.main-content {
  padding: var(--spacing-lg);
}



/*Header*/
.header-content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-content ul {
  margin-top: var(--spacing-lg);
}

.header-content ul li {
  margin: var(--spacing-xs);
  font-family: Abel;
}

.header-content ul a {
  color: black;
  font-size: var(--font-large);
}

.header-content ul a:hover {
  color: var(--hover-color);
}

#Currently-open {
  text-decoration: underline;
}



/*Project showcase*/
.project-showcase {
  width: 70%;
  position: relative;
}

.project-showcase p {
  margin-bottom: var(--spacing-sm);
}

.project-showcase-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
}

.project-showcase-content img {
  width: 100%;
  height: 400px;
}


/*slideshow*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 99%;
  right: 75%;
  width: 20px;
  z-index: 999;
  margin-top: -22px;
  padding: var(--spacing-xs);
  color: black;
  font-weight: bold;
  font-size: var(--font-large);
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

.next {
  right: 20%;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  opacity: 1;
}

.text {
  color: #000000;
  font-size: var(--font-small);
  padding: 2px 12px;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  letter-spacing: 0;
  font-family: Abel;
  font-weight: bold;
}

.text a {
  color: black;
}
.text a:hover {
  color: #2f516a;
}



/*Logo*/
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 12vw;
  margin-top: 50px;
  margin: 0 auto;
}



/*Footer*/


.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill-container {
  width: 600px;
  height: 20px;
  overflow: hidden;
  position: relative;
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

#Skills {
  padding: var(--spacing-xs);
  white-space: nowrap;
  position: absolute;
  animation: moveText 17s linear infinite;
  list-style: circle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Abel;
}

.skill-container span  {
  height: 7px;
  width: 7px;
  background-color: #ff0000c2;
  border-radius: 50%;
  margin: 0 5px 0 10px ;
}

.verfuegbar-container {
  border-radius: var(--radius);
  padding: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.verfuegbar-container h2 {
  font-size: var(--font-medium);
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: var(--spacing-xs);
}

.verfuegbar-container p {
  font-size: var(--font-xs);
  text-align: center;
}

/*Extra pages*/

/*Work*/

.main-secondary {
  width: 100%;
}


.project-showcase h2 {
  font-size: 40px;
  margin: var(--spacing-lg);
}

.project-showcase a {
  font-size: var(--font-large);
  color: #09203F;
}

.extra-page-showcase {
  width: 100%;
}

.extra-page-showcase .project-showcase-content{
  height: 100%;
  width: 100%;
  padding: var(--spacing-lg);
}

.extra-page-showcase img {
  height: 600px;
  width: 100%;
}

/*Info pages (About us & contact)*/


.header-content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-content-info ul {
  margin-top: var(--spacing-lg);
}

.header-content-info ul li {
  margin: var(--spacing-xs);
  font-family: Abel;
}

.header-content-info ul a {
  color: black;
  font-size: var(--font-large);
}

.header-content-info ul a:hover {
  color: var(--hover-color);
}
 
.logo-info {
  font-size: 30px;
  margin-top: var(--spacing-lg);
  writing-mode:vertical-lr;
  text-orientation: upright;
  padding: var(--spacing-lg);
}

.main-content-info {
  padding: var(--spacing-lg);
  display: flex;
  justify-content: space-evenly;
}

.geschichte-content h1 {
  font-size: var(--font-xxl);
  margin: 20px 0;
}

.unsere-geschichte {
  width: 50%;
  padding: var(--spacing-lg);
}

.unsere-geschichte p {
  font-family: Abel;
}

.unsere-werte {
  margin-top: 80px;
}

.unsere-werte-container h2 {
  font-size: var(--font-xxl);
}

.unsere-werte-container ul {
  padding: var(--spacing-md);
}

.unsere-werte-container ul li {
  font-family: Abel;
  list-style: circle;
}


/*contact*/

.contact-us-content {
  margin: 40px 0;
  width: 70%;
}

.contact-us-content h1 {
  font-size: var(--font-xxl);
}
.contact-us-content label {
  font-weight: bold;
}

.contact-us-content input[type="text"],
.contact-us-content input[type="email"],
.contact-us-content textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.contact-us-content textarea {
  height: 150px;
}

.contact-us-content input[type="submit"] {
  background-color: #09203F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.contact-us-content input[type="submit"]:hover {
  background-color: var(--hover-color);
}

.contact-us-content form  {
  margin-top: 50px;
}


/*Faq*/

.faq-section h2 {
  font-size: var(--font-xxl);
}


.faq-section {
  margin-top: 40px;
}

.question-container {
  width: 100%;
}

.question {
  border: 1.5px solid black;
  width: 100%;
  margin: 30px 0;
}

.question details summary {
  font-size: var(--font-large);
  padding: var(--spacing-sm);
}

.question details p  {
  font-size: var(--font-medium);
  text-align: center;
  margin: 2rem;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '✚';
}

details[open] > summary::before {
  content: '−';
}




/*Media Querys*/
@media screen and (max-width: 800px) {

  body {
    height: 100%;
  }

  main {
    margin: var(--spacing-lg) 0;
    height: 95%;
  }

  .main-content {
    padding: var(--spacing-xs);
  }


  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-content ul li a {
    font-size: var(--font-xs);
  }

  .project-showcase {
    width: 100%;
    margin-top: var(--spacing-lg);
  } 

  .project-showcase-content img {
    width: 100%;
    height: 250px;
  }

  .text {
    font-size: var(--font-xs);
  }

  .logo {
    font-size: 40px;
  }

  .verfuegbar-container {
    text-align: center;
    margin: 20px auto;
    border: none;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }


  .footer-content {
    width: 100%;
  }

  .skill-container {
    height: 30px;
    width: 50%;
    margin: 0 auto;
  }

  .question details summary {
    font-size: var(--font-medium);
  }


}



/*Keyframes*/
@keyframes wavyText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveText {
  0% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(130%);
  }
}

@keyframes fade { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typingSmall {
  0% { 
    width: 0% 
} 

100% { 
    width: 100% 
} 
}

@keyframes typing { 
  0% { 
      width: 0% 
  } 

  100% { 
      width: 65% 
  } 
} 

@keyframes blink { 

  0%, 
  100% { 
      border-right: 2px solid transparent; 
  } 

  50% { 
      border-right: 2px solid #222; 
  } 
} 



/*Utility classes*/
.wavy {
  animation: wavyText 6s ease-in-out infinite;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

.typing {
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation: typing 1.5s steps(22, end) forwards, blink 1s 2;
}

.typingSmall {
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation: typingSmall 1.5s steps(22, end) forwards, blink 1s 2;
}

